{erl_opts, [no_debug_info,{hipe,[]}]}.
%% hex仓库国内
{rebar_packages_cdn, "https://hexpm.upyun.com"}.
{deps, []}.

{relx, [{release, {kcp_erl, "0.1.0" },[kcp_erl,sasl,mnesia,observer,runtime_tools,syntax_tools,tools]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {include_src, false},
        {extended_start_script, true}]
}.
